---
title: CASCON10-CSER10
type: poster
longtitle: A Tool for Automatically Repairing Concurrency Bugs
authors: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevinjalbert.com, http://faculty.uoit.ca/bradbury
year: 2010
month: Nov.
booktitle: In Technology Showcase at the 19th Annual International Conference on Computer Science and Software Engineering (CASCON 2010). Also presented at the poster session of the 2010 Fall Meeting of the Consortium for Software Engineering Research (CSER)
location: Markham, Ontario, Canada
---

<h1>A Tool for Automatically Repairing Concurrency Bugs</h1>

<h2>Contact Information</h2>
<h4>Authors: <%= combine_name_link(item[:authors], item[:links]) %></h4>

<br />

<h2>Related Projects</h2>
<h4><%= link_to("ARC", "/projects/arc/") %></h4>

<h3>Abstract</h3>
<p>
  This exhibit demonstrates a tool that fixes concurrency bugs automatically using genetic programming. A bug fix is formed, by iteratively applying concurrency mutations and determining if the mutations have improved the quality of the program. The concurrency mutations are based on common fixes for concurrency bugs like deadlocks and data races.
</p>

<h3>Bibliographic Information [Bibtex format]</h3>
<blockquote>
  <i>
    @misc{JB10-poster, <br />
      &nbsp Author = {Kevin Jalbert and Jeremy S. Bradbury}, <br />
      &nbsp Howpublished = {In Technology Showcase at the 19th Annual International Conference on Computer Science and Software Engineering (CASCON 2010). Also presented at the poster session of the 2010 Fall Meeting of the Consortium for Software Engineering Research (CSER)}, <br />
      &nbsp Month = {Nov.}, <br />
      &nbsp Title = {A Tool for Automatically Repairing Concurrency Bugs}, <br />
      &nbsp Year = {2010} <br />
    }
  </i>
</blockquote>

<h3>Download</h3>
<ul>
  <li><a href="/public/files/publications/CASCON10-CSER10-poster.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/publications/CASCON10-CSER10-poster/']);">Poster [PDF]</a></li>
</ul>
