---
title: RAISE12
type: paper
longtitle: Predicting Mutation Score Using Source Code and Test Suite Metrics
authors: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevinjalbert.com, http://faculty.uoit.ca/bradbury
year: 2012
month: Jun.
pages: pages 5
booktitle: Proc. of the Workshop on Realizing Artificial Intelligence Synergies in Software Engineering (RAISE 2012)
location: Zurich, Switzerland
status: RAISE 2012 Best Paper Award
---

<h1>Predicting Mutation Score Using Source Code and Test Suite Metrics</h1>

<h2>Contact Information</h2>
<h4>Authors: <%= combine_name_link(item[:authors], item[:links]) %></h4>

<br />

<h2>Related Projects</h2>
<h4><%= link_to("Mutation Score Predictor", "/research/mutation-score-predictor/") %></h4>

<h3>Abstract</h3>
<p>
	Traditionally mutation testing has been used to evaluate the effectiveness of test suites and provide confidence in the testing process. Mutation testing involves the creation of many versions of a program – each with a single syntactic fault. A test suite is evaluated against these program versions (mutants) in order to determine the percentage of mutants a test suite is able to identify (mutation score). A major drawback of mutation testing is that even a small program may yield thousands of mutants and can potentially make the process cost prohibitive. To improve the performance and reduce the cost of mutation testing, we propose a machine learning approach to predict the mutation score based on source code and test suite metrics.
</p>

<h3>Bibliographic Information [Bibtex format]</h3>
<blockquote>
  <i>
    @inproceedings{JB12, <br/>
      &nbsp Author = {Kevin Jalbert and Jeremy S. Bradbury}, <br/>
      &nbsp Booktitle = {Proc. of the Workshop on Realizing Artificial Intelligence Synergies in Software Engineering (RAISE 2012)}, <br/>
      &nbsp Month = {Jun.}, <br/>
      &nbsp Pages = {5}, <br/>
      &nbsp Title = {Predicting Mutation Score Using Source Code and Test Suite Metrics}, <br/>
      &nbsp Year = {2012} <br/>
    }
  </i>
</blockquote>

<h3>Download</h3>
<ul>
  <li><a href="/public/files/publications/RAISE12.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/publications/RAISE12/']);">Paper [PDF]</a></li>
  <li><a href="/public/files/slides/RAISE12-slides.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/slides/RAISE12-slides/']);">Slides [PDF]</a></li>
</ul>
