---
title: SPAQu09
type: paper
longtitle: Definining a Catalog of Programming Anti-Patterns for Concurrent Java
authors: Jeremy S. Bradbury, Kevin Jalbert
links: http://faculty.uoit.ca/bradbury, http://kevinjalbert.com
year: 2009
month: Oct.
pages: pages 6-11
booktitle: Proc. of the 3rd International Workshop on Software Patterns and Quality (SPAQu'09)
location: Orlando, Florida, USA
---

<h1>Definining a Catalog of Programming Anti-Patterns for Concurrent Java</h1>

<h2>Contact Information</h2>
<h4>Authors: <%= combine_name_link(item[:authors], item[:links]) %></h4>

<br />

<h2>Related Projects</h2>
<h4><%= link_to("ConBPL", "/research/conbpl/") %></h4>

<br />

<h2>Online Catalog</h2>
<h4><%= link_to("http://faculty.uoit.ca/bradbury/concurr-catalog",  "http://faculty.uoit.ca/bradbury/concurr-catalog") %></h4>

<h3>Abstract</h3>
<p>
  Many programming languages, including Java, provide support for concurrency. Although concurrency has many benefits with respect to performance, concurrent software can be problematic to develop and test because of the many different thread interleavings. We propose a comprehensive set of concurrency programming anti-patterns that can be used by Java developers to aid in avoiding many of the known pitfalls associated with concurrent software development. Our concurrency anti-patterns build upon our previous work as well as the work of others in the research community.
</p>

<h3>Bibliographic Information [Bibtex format]</h3>
<blockquote>
  <i>
    @inproceedings{BJ09, <br/>
      &nbsp Author = {Jeremy S. Bradbury and Kevin Jalbert}, <br/>
      &nbsp Booktitle = {Proc. of the 3rd International Workshop on Software Patterns and Quality (SPAQu'09)}, <br/>
      &nbsp Month = {Oct.}, <br/>
      &nbsp Pages = {6-11}, <br/>
      &nbsp Title = {Defining a Catalog of Programming Anti-Patterns for Concurrent Java}, <br/>
      &nbsp Year = {2009} <br />
    }
  </i>
</blockquote>

<h3>Download</h3>
<ul>
  <li><a href="/public/files/publications/SPAQu09.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/publications/SPAQu09/']);">Paper [PDF]</a></li>
  <li><a href="/public/files/slides/SPAQu09-slides.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/slides/SPAQu09-slides/']);">Slides [PDF]</a></li>
</ul>
