---
title: CSER09-fall
type: poster
longtitle: Using Bug Patterns in the Regression Testing of Concurrent Software
authors: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevinjalbert.com/, http://faculty.uoit.ca/bradbury
year: 2009
month: Nov.
booktitle: In 2009 Fall Meeting of the Consortium for Software Engineering Research (CSER).
location: Markham, Ontario, Canada
---

<h1>Using Bug Patterns in the Regression Testing of Concurrent Software</h1>

<h2>Contact Information</h2>
<h4>Authors: <%= combine_name_link(item[:authors], item[:links]) %></h4>

<br />

<h2>Related Projects</h2>
<h4><%= link_to("ConBPL", "/projects/conbpl/") %></h4>

<h3>Abstract</h3>
<p>
  We use known concurrency bugs to help identify future bugs in deployed software by turning them into bug patterns. Clone detection pattern matching and rule evaluation are used to find bug pattern matches. These matches can be used during testing to target specific thread interleavings instead of examining all executions.
</p>

<h3>Bibliographic Information [Bibtex format]</h3>
<blockquote>
  <i>
    @misc{JB09-poster, <br />
      &nbsp Author = {Kevin Jalbert AND Jeremy S. Bradbury}, <br />
      &nbsp Howpublished = {In 2009 Fall Meeting of the Consortium for Software Engineering Research (CSER)},
      &nbsp Month = {Nov.}, <br />
      &nbsp Title = {Using Bug Patterns in the Regression Testing of Concurrent Software}, <br />
      &nbsp Year = {2009} <br />
    }
  </i>
<blockquote>

<h3>Download</h3>
<ul>
  <li><a href="/public/files/posters/CSER09-fall-poster.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/posters/CSER09-fall-poster/']);">Poster [PDF]</a></li>
</ul>
