---
title: ICSM10
type: poster
longtitle: Using Clone Detection to Identify Bugs in Concurrent Software
authors: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevinjalbert.com, http://faculty.uoit.ca/bradbury
year: 2010
month: Jun.
booktitle: In Proc. of 26th IEEE International Conference on Software Maintenance (ICSM 2010)
location: Timișoara, Romania
---

<h1>Using Clone Detection to Identify Bugs in Concurrent Software</h1>

<h2>Contact Information</h2>
<h4>Authors: <%= combine_name_link(item[:authors], item[:links]) %></h4>

<br />

<h2>Related Projects</h2>
<h4><%= link_to("ConBPL", "/projects/conbpl/") %></h4>

<h3>Abstract</h3>
<p>
	We use clone detection, a technique for finding duplicated source code, and rule evaluation as the foundation for detecting bug patterns in concurrent software. If we can identify a bug pattern as being duplicated then we can localize our regression testing effort to the exploration of interleavings relevant to the potential bug. If the potential bug is indeed an actual bug, then targeting specific thread interleavings instead of examining all possible executions will increase the probability of the bug being detected sooner.
</p>

<h3>Download</h3>
<ul>
  <li><a href="/public/files/posters/ICSM10-poster.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/posters/ICSM10-poster/']);">Poster [PDF]</a></li>
</ul>
