---
title: ARC
members: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevinjalbert.com, http://faculty.uoit.ca/bradbury
url: http://faculty.uoit.ca/bradbury/sqrg/projects/directed_search.html
description: This research project focuses on the development of a new approach that automatically repairs concurrency bugs using genetic algorithms.
---

<h1>ARC</h1>

<h2>Contact</h2>
<h4>Members: <%= combine_name_link(item[:members], item[:links]) %></h4>

<br />

<h2>Related Publication</h2>
<h4><%= link_to( "Automatic Repair of Concurrency Bugs", "/publications/SSBSE10/" ) %></h4>
<h4><%= link_to( "A Tool for Automatically Repairing Concurrency Bugs", "/publications/CASCON10-CSER10/" ) %></h4>

<h3>Description</h3>
<p>
  The goal of <i>ARC - Automatically Repair Concurrency</i> is to provide a tool that attempts to repair concurrency bugs in source code. This tool is aimed towards Java due to its maturity in concurrency and known concurrency bugs and idioms.
</p>
<p>
  A genetic algorithm is used to progressively mutate the buggy program's source code to a state where it executes in a timely fashion without errors. The mutations used are all related to adding and removing synchronization to the source code. The mutations used can only effect the thread schedules, and as a side-effect the performance overhead/reduction of added/removed synchronization. Two main criteria used in determining the fitness of a mutant are the:
</p>
<ul>
  <li>Correctness of the code &rarr; No concurrency bugs</li>
  <li>Performance of the code &rarr; Executes as quick as possible</li>
</ul>
<p>
  Essentially the end purpose is to automatically repair concurrency by minimizing the bugs and maximizing the performance.
</p>
