--- 
title: ConBPL
members: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevin.jalbert.com, http://faculty.uoit.ca/bradbury/
url: http://faculty.uoit.ca/bradbury/sqrg/projects/active_test.html
description: This research project focuses on the development of a new approach for active testing concurrent Java programs by using clone detection of concurrency bug patterns.
---

<h1>ConBPL</h1>

<h2>Contact</h2>
<h4>Members: <%= combine_name_link(item[:members], item[:links]) %></h4>
<br />
<h2>Related Publication</h2>
<h4><%= link_to( "Using Clone Detection to Identify Bugs in Concurrent Software", "/publications/ICSM10/" ) %></h4>
<h4><%= link_to( "Definining a Catalog of Programming Anti-Patterns for Concurrent Java", "/publications/SPAQu09/" ) %></h4>

<h3>Description</h3>
<p>
  This research project focuses on the development of a new approach for active testing concurrent Java programs. Our research aims to:
</p>
  <ul> 
    <li>Detect possible concurrency bugs in a software system using bug patterns (based on previously detected bugs).</li> 
    <li>Combine our identification of possible bugs with existing tools to optimize the testing of concurrent software.</li> 
  </ul> 
<p>
  We use clone detection, a technique for finding duplicatedsource code, as the foundation for detecting bug patterns in concurrent software. If we can identify a bug pattern as being duplicated then we can target our regression testing effort to the exploration of interleavings relevant to the potential bug. Our implementation is built by modifying the <a href="http://conqat.cs.tum.edu/index.php/ConQAT">ConQAT</a> clone detection framework. ConQAT is capable of detecting exact, near-exact and gapped clones.
</p>
