---
title: Mutation Score Predictor (Thesis)
members: Kevin Jalbert, Jeremy S. Bradbury
links: http://kevinjalbert.com, http://faculty.uoit.ca/bradbury
url: http://faculty.uoit.ca/bradbury/sqrg/projects/mutation_prediction.html
description: A prediction technique for mutation testing scores using source code and test suite metircs.
---

<h2>Contact</h2>
<h4>Members: <%= combine_name_link(item[:members], item[:links]) %></h4>

<br />

<h2>Related Publication</h2>
<h4><%= link_to( "Predicting Mutation Score Using Source Code and Test Suite Metrics", "/publications/RAISE12/" ) %></h4>

<br />

<h2>Related Poster</h2>
<h4><%= link_to( "Predicting how Difficult Bugs are to Detect using Source Code Metrics", "/posters/CSER11-summer/" ) %></h4>

<h3>Description</h3>
<p>
  Traditionally mutation testing has been used to evaluate the effectiveness of test suites and provide confidence in the testing process. Mutation testing involves the creation of many versions of a program – each with a single syntactic fault. A test suite is evaluated against these program versions (mutants) in order to determine the percentage of mutants a test suite is able to identify (mutation score). A major drawback of mutation testing is that even a small program may yield thousands of mutants and can potentially make the process cost prohibitive. To improve the performance and reduce the cost of mutation testing, we propose a machine learning approach to predict the mutation score based on source code and test suite metrics.
</p>

<h3>Download</h3>
<ul>
  <li><a href="https://github.com/kevinjalbert/master-thesis">M.Sc. Thesis [source code]</a></li>
  <li><a href="/public/files/publications/kevin-jalbert-thesis.pdf">M.Sc. Thesis [PDF]</a></li>
  <li>Source code will be released soon...</li>
</ul>
