<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render 'head' %>
  <body>
    <div id="shifter">
      <%= render 'header' %>
      <%= render 'sidebar' %>

      <div id="project_publication_content">
        <%= yield %>
        <% if @item.parent[:title] == 'Home' %>
          <% @item.children.each do | child | %>
            <% if child[:title] != 'Home' %>
            <h1><%= link_to(child[:title], child[:url]) %></h1> <h4><%= if child[:owner] then 'Owner' else 'Contributer' end %></h4>
              <h2><%= child[:description] %> </h2>
            <% end %>
            <br /> <br />
          <% end %>
        <% end %>
      </div>

      <%= render 'footer' %>
    </div>
    <%= render 'scripts' %>
  </body>
</html>
