    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16620161-5']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- Apture Script -->
    <script id="aptureScript">
      (function (){var a=document.createElement("script");a.defer="true";a.src="http://www.apture.com/js/apture.js?siteToken=ga7XLcE";document.getElementsByTagName("head")[0].appendChild(a);})();
    </script>

    <!-- VigLink 2011 -->
    <script type="text/javascript">
      var vglnk = { api_url: '//api.viglink.com/api',
              key: '86fd98a0d9d85c40cdaf601086da5e39' };

      (function(d, t) {
        var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
        s.src = ('https:' == document.location.protocol ? vglnk.api_url :
                  '//cdn.viglink.com/api') + '/vglnk.js';
        var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
      }(document, 'script'));
    </script>
