    <div id="sidebar">
      <ul>
        <h2>Navigation</h2>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/posters/">Posters</a></li>
      </ul>

      <ul>
        <h2>Social</h2>
        <li><a href="http://endomondo.com/profile/341607" onClick="javascript: _gaq.push(['_trackPageview', '/social/endomondo/']);">Endomondo</a></li>
        <li><a href="http://twitter.com/KevinJalbert" onClick="javascript: _gaq.push(['_trackPageview', '/social/twitter/']);">Twitter</a></li>
        <li><a href="https://github.com/kevinjalbert" onClick="javascript: _gaq.push(['_trackPageview', '/social/github/']);">GitHub</a></li>
        <li><a href="http://linkedin.com/in/kevinjalbert" onClick="javascript: _gaq.push(['_trackPageview', '/social/linkedin/']);">LinkedIn</a></li>
        <li><a href="http://mendeley.com/profiles/kevin-jalbert" onClick="javascript: _gaq.push(['_trackPageview', '/social/mendeley/']);">Mendeley</a></li>
        <li><a href="http://stackoverflow.com/users/583592/kevin-jalbert" onClick="javascript: _gaq.push(['_trackPageview', '/social/stackoverflow/']);">Stack Overflow</a></li>
      </ul>

      <ul>
        <h2>Contact</h2>
        <li><a href="/public/files/misc/kevin-jalbert-cv.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/files/misc/kevin-jalbert-cv/']);">Curriculum Vitae</a></li>
        <!-- Used Email Address Obscurification (http://pleber.co.uk/email) -->
        <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6b%65%76%69%6e.%6a.%6a%61%6c%62%65%72%74@%67%6d%61%69%6c.%63%6f%6d">Email</a></li>
        <li><a href="skype:%6b%65%76%69%6e.%6a.%6a%61%6c%62%65%72%74">Skype</a></li>
      </ul>
    </div>
